body{
  font-family:'Open.sans', sans-serif;
  font-size:17.5px;
  line-height: 1.5em;
  margin:0;
  padding:0;
}

.container{
  margin:auto;
}
.container a{
  list-style: none;
  text-decoration: none;
}
/*HEADER*/
#main-header{
  background: #32CD32;
  height:;
}
/*NAVBAR*/
#navbar{
  text-transform: uppercase;
}
#navbar li{
  display: inline;
  padding-right:15px;
  list-style: none;
  position: relative;
}
#navbar a{
  text-decoration: none;
  color:white;
}
#navbar li.current a, #navbar a:hover{
  color:black;
  border-bottom: 3px solid black;
  padding-bottom: 3px;
}
#navbar ul li ul{
  display:block;
  position: absolute;
  background:blue;
  text-decoration: none;


}
/*SHOWCASE*/
#showcase{
  background:red;
  margin-bottom: 30px;
}
#showcase .row{
  height: 300px;
}
/*CATEGORIES*/
#cats{
  text-transform: uppercase;

}
#cats li{
  display: inline;
  padding: 5px;
  list-style: none;
}
#cats a{
  text-decoration: none;
  color:black;

}

/*FOOTER*/
#footer{
  background: #32CD32;
}
#inserts
/*MEDIA QUERIES */
@media(max-width:500px){
  #showcase .showcase-content{
    padding: 40px 10px;
  }
}

/*PRODUCTS*/
#products_box{
  display: inline;

}
#single_product {
  float:left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  transition: 0.4s;
  width:274px;
  text-align: center;
  float:left;
  margin:5px;
  height: 370px;
  border-radius: 4px;



}
#single_product a{
  text-decoration: none;
  color:blue;
}
#single_product p{
  font-size: 16px;
  margin:0;

}
.container_image {
  position: relative;
  margin: 0 auto;
  float:left;
  margin-top: 30px;
  border: solid 10px #2c2c2c;
  background: #4c4c4c;
  width: 50%;
  height: auto;
}
